{% extends "base.html" %}
{% block page_content %}
{% load myapptags %}
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Dashboard
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
               <span class="m-nav__link-text">
               Dashboard
               </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
               <span class="m-nav__link-text">
               Manage Orders
               </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
               <span class="m-nav__link-text">
               Latest Orders
               </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__body">
            <form style="flex: 1;" action="{% url 'project_index' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" id="project_id"/>
                <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                    <div class="row align-items-center">
                        <div class="col-xl-8 order-2 order-xl-1">
                            <div class="form-group m-form__group row align-items-center">
                                <div class="col-md-1">
                                    <div class="m-form__group m-form__group--inline" style="width: 100%;">
                                        <label for="inputPassword2">Name:</label>
                                    </div>
                                    <div class="d-md-none m--margin-bottom-10"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="m-form__group m-form__group--inline" style="width: 100%;">
                                        <div class="m-form__control">
                                            {{ form.name.errors }} {{ form.name }}
                                        </div>
                                    </div>
                                    <div class="d-md-none m--margin-bottom-10"></div>
                                </div>
                                <div class="col-md-1">
                                    <div class="m-form__group m-form__group--inline" style="width: 100%;">
                                        <label for="inputPassword2">Status:</label>
                                    </div>
                                    <div class="d-md-none m--margin-bottom-10"></div>
                                </div>
                                <div class="col-md-4">
                                    <div class="m-form__group m-form__group--inline" style="width: 100%;">
                                        <div class="m-form__control">
                                            {{ form.status.errors }} {{ form.status }}
                                        </div>
                                    </div>
                                    <div class="d-md-none m--margin-bottom-10"></div>
                                </div>
                                <div class="col-md-1">
                                    <button type="submit"
                                            class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                            <a href="{% url 'employee_index' %}"
                               class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                <span><i class="la la-list"></i><span>Employee List</span></span>
                            </a>
                            <div class="m-separator m-separator--dashed d-xl-none"></div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded" id="">
                <table class="m-datatable__table" style="display: block; min-height: 300px; overflow-x: auto;">
                    <thead class="m-datatable__head">
                    <tr class="m-datatable__row" style="left: 0px;">
                        <th data-field="RecordID"
                            class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check">
                            <span style="width: 50px;">
                                <label class="m-checkbox m-checkbox--single m-checkbox--all m-checkbox--solid m-checkbox--brand">
                                    <input type="checkbox"/>
                                    <span></span>
                                </label>
                            </span>
                        </th>
                        <th data-field="OrderID" class="m-datatable__cell m-datatable__cell--sort">
                            <span style="width: 126px;">Sl</span>
                        </th>
                        <th data-field="ShipName" class="m-datatable__cell m-datatable__cell--sort">
                            <span style="width: 126px;">Name</span>
                        </th>
                        <th data-field="Status" class="m-datatable__cell m-datatable__cell--sort">
                            <span style="width: 126px;">Status</span>
                        </th>
                        <th data-field="Actions" class="m-datatable__cell m-datatable__cell--sort">
                            <span style="width: 110px;">Actions</span>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="m-datatable__body" style="">
                    {% for item in data %}
                    <tr data-row="0" class="m-datatable__row m-datatable__row--even" style="left: 0px;">
                        <td data-field="RecordID"
                            class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check">
                            <span style="width: 50px;">
                                <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">
                                    <input type="checkbox" value="54"/>
                                    <span></span>
                                </label>
                            </span>
                        </td>
                        <td data-field="OrderID" class="m-datatable__cell--sorted m-datatable__cell">
                            <span style="width: 126px;">{{ item.id }}</span>
                        </td>
                        <td data-field="ShipName" class="m-datatable__cell">
                            <span style="width: 126px;">{{ item.name }}</span>
                        </td>
                        <td data-field="Status" class="m-datatable__cell">
                            <span style="width: 126px;">
                                <span class="{{ item.status|status_class }}">{{ item.status }}</span>
                            </span>
                        </td>
                        <td data-field="Actions" class="m-datatable__cell">
                            <span style="width: 126px;">
                                <a onclick="view({{ item.id }},'{{ item.name }}','{{ item.status }}')"
                                   class="{{ 'edit'|button_class }}">
                                    <i class="la la-edit"></i>
                                </a>
                                <a onclick="return confirm('Are you sure?')"
                                   href="{% url 'project_delete' pk=item.id %}"
                                   class="{{ 'delete'|button_class }}">
                                    <i class="fa flaticon-circle"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
   function view(id, name, status) {
     $("#id_name").val(name);
     $("#project_id").val(id);
     $("#id_status").val(status);
   }


</script>
{% endblock %}
