{% extends "base.html" %}
{% block page_content %}
{% load static %}
{% load myapptags %}
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<script>
    {% block jquery %}
       $(document).ready(function() {
            $("#change_password_div").show();
            $("#password_div").css('display', 'none');

            $("#change_password").click(function() {
                $("#password_div").show();
                $("#change_password_div").hide();
            });

            $(".input-group").hide();
            $("#picture_change").click(function() {
                $(".input-group").show();
            });
            $(".cancel").click(function() {
                $(".input-group").hide();
            });
            var brand = document.getElementById('id_image');
            brand.className = 'attachment_upload';
            brand.onchange = function() {
                document.getElementById('fakeUploadLogo').value = this.value.substring(12);
            };

            // Source: http://stackoverflow.com/a/4459419/6396981
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        $('.img-preview').attr('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#id_image").change(function() {
                readURL(this);
            });
        });
    {% endblock %}
</script>
<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Dashboard
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												Dashboard
											</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												Manage Orders
											</span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												Latest Orders
											</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="m-portlet m-portlet--tab">
        <form class="m-form m-form--fit m-form--label-align-right" action="{% url 'employee_detail' employee.pk %}"
              method="post" enctype="multipart/form-data">
            {% include "form_employee.html" %}
        </form>
    </div>
</div>
{% endblock %}
