{% load myapptags %}

<div class="m-portlet__body row">
    {% csrf_token %}
    <div class="form-group m-form__group col-md-4">
        {{ user_form.username.errors }}
        <label for="{{ user_form.username.id_for_label }}">Username</label>
        {{ user_form.username }}
    </div>
    <div class="form-group m-form__group col-md-4">
        {{ user_form.email.errors }}
        <label for="{{ user_form.email.id_for_label }}">Email</label>
        {{ user_form.email }}
    </div>
    <div class="form-group m-form__group col-md-2">
        {{ form.mobile.errors }}
        <label for="{{ form.mobile.id_for_label }}">Mobile</label>
        {{ form.mobile }}
    </div>
    <div class="form-group m-form__group col-md-2">
        {{ form.status.errors }}
        <label for="{{ form.status.id_for_label }}">Status</label>
        {{ form.status }}
    </div>
    <div class="form-group m-form__group col-md-3">
        {{ form.department.errors }}
        <label for="{{ form.department.id_for_label }}">Department</label>
        {{ form.department }}
    </div>
    <div class="form-group m-form__group col-md-3">
        {{ form.designation.errors }}
        <label for="{{ form.designation.id_for_label }}">Designation</label>
        {{ form.designation }}
    </div>
    <div class="form-group m-form__group col-md-6">
        {{ form.address.errors }}
        <label for="{{ form.address.id_for_label }}">Address</label>
        {{ form.address }}
    </div>
    <div class="form-group m-form__group col-md-6">
        {{ form.about.errors }}
        <label for="{{ form.about.id_for_label }}">About</label>
        {{ form.about }}
    </div>
    <div class="form-group m-form__group col-md-4">
        <label for="{{ form.image.id_for_label }}">Image</label>
        {% include "image.html" %}
    </div>

    <div class="form-group m-form__group col-md-4" id="password_div">
        {{ user_form.password.errors }}
        <label for="{{ user_form.password.id_for_label }}">Password</label>
        {{ user_form.password }}
    </div>
    <div class="form-group m-form__group col-md-4" id="change_password_div">
        <a href="javascript:void(0)" id="change_password"
           class="btn btn-success btn-sm m-btn m-btn m-btn--icon m-btn--pill">
            <span><i class="fa flaticon-paper-plane"></i><span>Change Password</span></span>
        </a>
    </div>
</div>
<div class="m-portlet__foot m-portlet__foot--fit">
    <div class="m-form__actions">
        <a href="{% url 'employee_index' %}" class="{{ 'back'|button_class }}">
            <div class="m-demo-icon__preview"><i class="fa fa-chevron-left"></i></div>
        </a>
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</div>
